<a href="https://colab.research.google.com/github/JReis-dev/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

create_table = """
CREATE TABLE IF NOT EXISTS Produtos (

    id INTEGER PRIMARY KEY,

    nome TEXT NOT NULL,

    preco REAL NOT NULL,

    estoque INTEGER

);

"""

cursor.execute(create_table)

conn.commit()

conn.close()

In [6]:
import sqlite3

# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Dados do novo produto

novo_produto = ('Camiseta', 19.99, 50)

# Comando SQL para inserir o novo produto na tabela

inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"

# Executando o comando SQL para inserção

cursor.execute(inserir_produto, novo_produto)

# Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

In [ ]:
# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Comando SQL para selecionar todos os produtos

selecionar_produtos = “SELECT * FROM Produtos”

# Executando o comando SQL

cursor.execute(selecionar_produtos)

# Obtendo todos os registros e exibindo-os

produtos = cursor.fetchall()

for produto in produtos:

    print(produto)

# Fechando a conexão

conn.close()

In [ ]:
import sqlite3

# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Novo preço e ID do produto a ser atualizado

novo_preco = 24.99

produto_id = 1  # Suponha que queiramos atualizar o produto com ID 1

# Comando SQL para atualizar o preço do produto

atualizar_preco = “UPDATE Produtos SET preco = ? WHERE id = ?”

# Executando o comando SQL de atualização

cursor.execute(atualizar_preco, (novo_preco, produto_id))

# Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

In [ ]:
import sqlite3

# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# ID do produto a ser excluído

produto_id = 2  # Suponha que queiramos excluir o produto com ID 2

# Comando SQL para excluir o produto

excluir_produto = “DELETE FROM Produtos WHERE id = ?”

# Executando o comando SQL de exclusão

cursor.execute(excluir_produto, (produto_id,))

# Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

In [ ]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)

conn = sqlite3.connect('contatos.db')

cursor = conn.cursor()

cursor.execute('''

    CREATE TABLE IF NOT EXISTS Contatos (

        id INTEGER PRIMARY KEY AUTOINCREMENT,

        nome TEXT,

        email TEXT,

        telefone TEXT

    )

''')

dados_exemplo = [

    ('João', 'joao@email.com', '123-456-7890'),

    ('Maria', 'maria@email.com', '987-654-3210'),

    ('Carlos', 'carlos@email.com', '555-555-5555')

]

cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)

conn.commit()

# READ (Leitura e exibição dos contatos)

cursor.execute('SELECT * FROM Contatos')

contatos = cursor.fetchall()

print(“Contatos:”)

for contato in contatos:

    print(contato)

# UPDATE (Atualização do número de telefone do contato com ID 2)

novo_telefone = '999-999-9999'

contato_id = 2



cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))

conn.commit()

# DELETE (Exclusão do contato com ID 1)

contato_id_para_excluir = 1



cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))

conn.commit()

# Fechando a conexão

conn.close()